.underpanel[data-v-15ed6123],
hr[data-v-15ed6123]{display:flex;font-size:0.9em;padding-top:2px;justify-content:space-between}.underpanel .hint[data-v-15ed6123],
hr .hint[data-v-15ed6123]{padding-top:4px}.underpanel .hint.translated[data-v-15ed6123],
hr .hint.translated[data-v-15ed6123]{border-bottom:1px dashed var(--v-text-base)}.underpanel .actions[data-v-15ed6123],
hr .actions[data-v-15ed6123]{opacity:0.8}.css-input[data-v-15ed6123] .v-messages__wrapper *{transition-duration:50ms!important}.desc[data-v-700a1763]{font-size:0.9em;padding:0 1em 0}