* {
    box-sizing: border-box;
}

:root {
    --bg: #050505;
    --card: #111111;
    --border: #191919;
    --text: #f5f5f5;
    --muted: #b1b1b1;
    --primary: #00B7C3;
    --primary-hover: #00d3e2;
    --danger: #E81123;
    --danger-hover: #b91c1c;
    --success: #00CC6A;
    --success-hover: #00eb79;
}

* {
    scrollbar-color: #333 #010101;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #010101;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #111;
}

body {
    margin: 0;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Arial,
        sans-serif;

    background: var(--bg);
    color: var(--text);
}

.app {
    margin: 0 auto;
    padding: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

main {
    max-width: 1300px;
    margin: 0 auto;
}

h1 {
    margin: 0 0 5px;
    font-size: 28px;
}

.logo-container {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.file-name {
    color: var(--muted);
    font-size: 14px;
    position: relative;
}

body.unsaved .file-name::after {
    content: '✦';
    color: var(--primary-hover);
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(120%);
}

.actions {
    display: flex;
    gap: 10px;
}

.btn {
    border: 0;
    border-radius: 7px;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: background, color 0.15s, opacity 0.15s;
    border: 1px dashed var(--border);
}

.btn:disabled {
    opacity: 0.45;
    cursor: not-allowed;
}

.btn.primary {
    background-color: transparent;
    color: var(--text);
    color: var(--text);
}

.btn.primary:hover:not(:disabled) {
    color: var(--primary-hover);
    border: 1px solid var(--primary);
}

.btn.success {
    background-color: transparent;
    color: var(--text);
}

.btn.success:hover:not(:disabled) {
    color: var(--success-hover);
    border: 1px solid var(--success-hover);
}

.btn.danger {
    background: #000;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    transition: .3s;
}

.btn.danger svg {
    background: inherit;
    width: 20px;
    height: 20px;
}

.btn.danger:hover {
    background-color: var(--danger);
    border-style: solid;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.toolbar>div {
    color: var(--muted);
}

.toolbar strong {
    color: var(--text);
    font-size: 18px;
}

.toolbar>div>span {
    font-size: 16px;
}

.notes-container {
    columns: 4 205px;
    column-gap: 16px;
}

/* body.list .notes-container { */
body .notes-container {
    columns: unset;
    column-gap: unset;
    display: flex;
    flex-direction: column;
}

.note-card {
    border: 1px solid #333;
    padding: 16px;
    transition: .3s border;
    break-inside: avoid;
    margin-bottom: 16px;
    border-radius: 10px;
}

.note-card>div {
    padding: 8px 10px;
    position: relative;
}

.note-card:hover .note-input,
.note-card:focus-within .note-input {
    transition: .3s;
    color: var(--text);
}

.note-card:focus-within,
.note-card:hover {
    border-color: #555;
}

.timestamp {
    padding: 9px 10px;
    border: none;
    font-family: inherit;
    color: var(--muted);
    display: inline-block;
    margin: 0;
    padding: 0;
}

.note-input {
    width: 100%;
    min-height: 80px;
    resize: vertical;
    padding: 0;
    border: none;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.5;
    display: block;
    color: var(--muted);
    font-size: 18px;
    font-style: italic;
    field-sizing: content;
    margin-top: 15px;
}

.timestamp:focus,
.note-input:focus {
    outline: none;
}

.empty-state {
    text-align: center;
    border: 1px dashed var(--border);
    padding: 70px 20px;
}

.empty-icon {
    font-size: 45px;
    margin-bottom: 10px;
}

.empty-state h2 {
    margin: 0 0 8px;
}

.empty-state p {
    color: var(--muted);
    margin-bottom: 25px;
}

code {
    background: var(--border);
    padding: 2px 5px;
    border-radius: 4px;
}

.status {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 15px;
    border-radius: 7px;
    background: #111827;
    color: white;
    font-size: 13px;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.2s;
    pointer-events: none;
    border: 1px solid var(--muted);
}

.status.show {
    opacity: 1;
    transform: translateY(0);
}

.status.error {
    background: var(--danger);
}

@media (max-width: 750px) {
    .app {
        padding: 15px;
    }

    .header {
        flex-direction: column;
        align-items: stretch;
    }

    .actions {
        width: 100%;
    }

    .actions .btn {
        flex: 1;
    }

    .note-card {
        grid-template-columns: 1fr;
    }
}

textarea,
input {
    background: inherit;
}

#toggleView {
    /* display: none; */
}

.toggle {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 23px;
    border: 1px solid var(--text);
    border-radius: 3rem;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    background-color: transparent;
    border-radius: 34px;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    left: 4px;
    top: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked+.slider {
    background-color: var(--primary);
}

input:checked+.slider::before {
    transform: translateX(26px);
}

.toggle-container:has(input:checked) .toggle {
    border-color: var(--primary);
}

.toggle-container {
    display: none;
    align-items: flex-start;
    gap: 10px;
    font-size: 14px;
    margin-top: 10px;
}

/* body:has(.note-card) .toggle-container { */
/*     display: flex; */
/* } */
